
.signInUpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 30px auto;
  color: var(--prind-colour-3);
}

@media (min-width: 800px) {
  .signInUpBox {
    margin: 62px auto;
  }
}


.signInUpBoxContainer {
  border-radius: 39px;
  border: 1px solid #DCC394;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 27px;
  padding-top: 38px;
  background-color: var(--prind-colour-1);
  max-width: 390px;
}

.form {

}

.form > label {
 color: var(--prind-colour-3);
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 150%;
 text-align: center;
 letter-spacing: 0.32em;
 text-transform: uppercase;
}

.form > input[type=text],
.form > input[type=email],
.form > input[type=password] {
  background: var(--prind-colour-3);
  padding: 0 20px 6px 20px;
  border-radius: 30px;
  height: 57px;
  margin-top: 12px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 100%;
}

.form > input[type=text]:disabled,
.form > input[type=email]:disabled {
  background-color: #aaaaaa80;
  color: #aaa;
  cursor: not-allowed;
}

.submitButton {
  margin-top: 14px;
  height: 57px;
  padding: 0 2em;
  border-radius: 30px;
  width: 100%;
  font-size: 16px;
  line-height: 105%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.button {
  --button-height: 55px;
  height: var(--button-height) !important;
  border-radius: calc(var(--button-height) / 2) !important;
  font-weight: bold !important;
  font-size: 12px !important;
  letter-spacing: 0.12em !important;
  text-transform: uppercase !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px 14px !important;
  margin-top: 14px;
  background-color: var(--prind-colour-1) !important;
  border: 1px solid #DCC394 !important;
  box-shadow: none !important;
  background-image: none !important;
}

@media (min-width: 800px) {
  .button {
    font-size: 14px !important;
    padding: 10px 24px !important;
  }
}

.errorText {
  margin-bottom: 21px;
}

.linkText {
  cursor: pointer;
}

.linkText:hover {
  text-decoration: underline;
  cursor:pointer;
}

.spinnerRing {
}

.spinnerRing > div {
  border-color: var(--prind-colour-3) transparent transparent transparent;
}
