
.errorPresentation {
  max-width: 70ch;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.errorPresentation input {
  max-width: 30ch;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
