
.breadcrumbTable {
  max-width: var(--max-component-width);
  margin: auto;
  margin-bottom: var(--standard-margin);
  font-size: 0.75rem;
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  text-align: left;
  min-height: 15px;
}

.crumb {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
