.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--standard-margin);
  text-align: left;
  margin: auto;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: var(--document-table-grid-columns);
    grid-gap: 0;
    text-align: left;
    max-width: var(--max-component-width);
    margin: auto;
    padding-top: var(--standard-padding);
    border: 1px #ccc solid;
  }
}

.closeButton {
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 1em;
  right: 1em;
}
