.projectTemplatesSection {

}

.projectTemplatesSection h2 {
  margin-bottom: 0.5em;
}

.templateCategory {

}

.templateHeading {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.templateHolder {
  display: grid;
  grid-template-columns: 2em auto;
  grid-auto-rows: minmax(2em, auto);
  text-align: left;
  margin-bottom: 2em;
  align-items: center;
}
