/* Grid system */
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
/* UI library */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

:root {
  --footer-height: 50px;
  --header-height: 75px;
  --pop-up-padding: 15px;
  --heading-text-color: #000;
  --sidebar-text-color: #106ba3;
  --pop-up-project-tile-margin: 5px;
  --field-element-red: #ffcccb;
  --field-element-yellow: #fffcbb;
  --field-element-green: #d2e9af;
  --field-element-grey: #ededed;
  --field-element-blue: rgba(19,124,189,.15);
  --field-element-dark-blue: #106ba3;
  --field-element-dark-grey: #bcbcbc;
  --field-element-light-green: rgba(200, 247, 197, 0.75);
  --tile-selected-green: #d2e9af;
  --tile-selected-red: #ffcccb;
  --profile-avatar-height: 150px;
  --avatar-padding: 4px;
  --prind-palette-color-1: #FEFFFE;
  --prind-palette-color-2: #E9EBF8;
  --prind-palette-color-3: #178CA4;
  --prind-palette-color-4: #8D818C;
  --prind-palette-color-5: #072A40;
  --prind-palette-color-6: #D9E0FF;
  --prind-palette-color-9: #F5F2FF;
  --max-width-popover: 1200px;
  --max-width-component-thin: 500px;
  --standard-border-radius: 15px;
  --standard-padding: 15px;
  --standard-margin: 15px;
  --standard-border-radius: 10px;
  --standard-border-radius-button: 5px;
  --standard-max-content-width: 1000px;
  --project-selector-grid-columns: 1fr;
  --popup-header-height: 80px;
  --popup-footer-height: 80px;
  --document-table-grid-columns: 1fr
}

@media (min-width: 1024px) {
  :root {
    --project-selector-grid-columns: 1fr 1fr;
    --document-table-grid-columns: 1fr 3fr auto 1fr;
  }
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-weight: 400;
  background-color: white;
  min-height: 100vh;
  padding: 0;
}

.full-height {
    height: 100%
}

.full-width {
  width: 100%
}

.fill {
  height: 100%;
  width: 100%;
}

.All-Content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

h1 {

}

h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    width: 90%;
}


.content-with-sidebar {
  display: flex;
  flex-direction: row;
  margin: auto 0px;
}


.create-custom-field-button-container {
  margin-bottom: 2em;
  width: 100%;
}

.create-custom-field-button-container button {
  width: 100%;
  max-width: 400px;
}

.horizontal-line {
  border-top: 1px solid #999;
  width: 80%;
  margin: 1em auto;
}

.bp3-tabs {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.bp3-button {
  text-align: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.custom_fc_frame {
  right: 10px !important;
  bottom: 60px !important;
}

.close-button {
  background-color: grey;
  color: white;
  border-radius: var(--standard-border-radius-button);
  border: 2px black solid;
  padding: 10px 27px;
  height: 3em;
  font-size: 16px;
}

#loading-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.spacer {
  height: var(--standard-margin);
}

input[type=submit]  {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: var(--standard-border-radius-button);
  margin-bottom: calc(var(--standard-margin) / 2);
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  min-height: 30px;
  min-width: 30px;
  background-color: #137cbd;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
  color: #ffffff;
  width: 100%;
}

input[type=submit]:disabled {
  background-color: #BBB;
}

input[type=cancel]  {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: var(--standard-border-radius-button);
  margin-bottom: calc(var(--standard-margin) / 2);
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
  padding: 5px 10px;
  text-align: center;
  vertical-align: middle;
  min-height: 30px;
  min-width: 30px;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
  color: black;
  width: 100%;
}

input[type=text],
input[type=email]  {
  width: 100%;
  appearance: none;
  background: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  color: #182026;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 10px;
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  vertical-align: middle;
  margin-bottom: calc(var(--standard-margin) / 2);
}

input[type=email].filled,
input[type=password].filled,
input[type=text].filled {
  background: var(--prind-palette-color-6);
}

input[type=email].filled,
input[type=password].filled,
input[type=text].filled {
  background: var(--prind-palette-color-6);
}

p.info {
  color: darkgreen;
  font-size: 12px;
}

p.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

/* ================================ */
/* ======== sign-in section ======= */
/* ================================ */

#signup,
#signin {
  width: 100%;
}

#signup,
#signin,
#forgot-password,
#change-password,
#confirming-email-address {
  margin: auto;
}

#forgot-password .auth-form,
#change-password .auth-form,
#signup .auth-form,
#signin .auth-form,
#new-project-page .auth-form {
    max-width: 500px;
    width: 100%;
    padding: var(--standard-padding);
    margin: 0 auto;
}

#signup .auth-form label.bp3-label,
#signin .auth-form label.bp3-label {
    margin-bottom: 20px;
}

#signup .auth-form label.bp3-label:last-of-type,
#signin .auth-form label.bp3-label:last-of-type {
    margin-bottom: 50px;
}

#signup small,
#signin small,
#new-project-page small {
  position: static !important;
}
#signup .sign-up-container,
#signin .sign-in-container {
  width: 100%;
  max-width: 500px;
  margin: var(--standard-margin);
}

#confirming-email-address .error-container {
  max-width: 500px;
  width: 90%;
}


/* ================================ */
/* ======== sidebar section ======= */
/* ================================ */

.chooser-section {
  overflow: scroll;
  padding: 0;
}

.sidebar  {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px 0 0 5px;
}

.sidebar h2 {
  cursor: default;
}

@media only screen and (min-width: 992px) {

  .chooser-section {
    border-right: 1px solid black;
    height: calc(100vh - var(--header-height) - var(--footer-height));
  }

  .sidebar  {
    padding: 0;
  }

}

.page-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-bottom: var(--footer-height);
}

.sidebar h2 {
  margin: 0.3em 0;
  font-size: calc(14px + ((30 - 20) * (100vw - 300px) / (1600 - 300)));
  color: var(--prind-palette-color-3);
}

/* ================================ */
/* ====== header bar section ====== */
/* ================================ */

#header-bar {
  display: flex;
  align-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: #000;
  margin: 0;
  padding: var(--standard-padding);
}

.App-header .row {
  margin: 0;
}

#header-bar .header-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}

#header-bar .company-name {
  color: white;
  float: left;
  margin-left: 20px;
  margin-right: 30px;
  text-align: left;
}

#header-bar a {
  color: inherit;
  font-style: normal;
  text-decoration-line: none;
}

#header-bar h1 {
  font-size: 1.8em;
  font-weight: 600;
}

#header-bar .nav-links {
  float: right;
  margin-left: auto;
  text-align: right;
  margin-bottom: auto;
}

#header-bar .nav-links svg {
  color: white;
}

#header-bar .menu-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

#header-bar .menu-item {
  color: white;
  margin-left: 20px;
}

#header-bar Button {
  min-width: 250px;
}

#header-bar .request-badge {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  font-weight:600;
  position: absolute;
  bottom: -3px;
  right: -3px;
  border: 1px solid #8b0000;
}

/* ================================== */
/*    logged-in-content-container     */
/* ================================== */

#logged-in-content-area-1x1 {
  padding: 0;
}

#logged-in-content-container {
  margin: 0;
  padding: 0;
}


/* ================================== */
/* ====== working area section ====== */
/* ================================== */

#working-area {
  max-width: 960px;
  margin: 0 auto;
}

/* ================================== */
/* ========== welcome page ========== */
/* ================================== */

#welcome-page {

}

#welcome-page .page-content Button {
  margin-top: 2em;
}

/* ================================ */
/* ======= New Project Page ======= */
/* ================================ */

#new-project-page {
}

#new-project-page .header-section {
  margin: 2em 0 0 0;
}

#new-project-page label.bp3-label {
    margin-bottom: 0.5em;
    text-align: left;
    font-weight: bold;
}

#new-project-page .bp3-input-group {
    margin-bottom: 0.33em;
}

#new-project-page .bp3-form-group {
    margin-bottom: 2em;
}

#new-project-page textarea {
    width: 100%;
    min-height: 150px;
}

#new-project-page .last {
    margin-bottom: 3em;
}

#new-project-page .bp3-form-content {
  text-align: left;
}

#new-project-page .bp3-button-group {
  margin-bottom: 10px;
}

#new-project-page .form-container {
  width: 80%;
  max-width: 430px;
}

#new-project-page .project-form {
    width: 100%;
    padding: var(--standard-padding);
    margin: 0 auto;
}

#new-project-page .content-footer {
  height: var(--footer-height);
}

/* ======================================== */
/* === project-creation popover element === */
/* ======================================== */

#project-creation-popover {
  height: 100%;
  width: 100%;
}

#project-creation-popover .project-creation-popover-container {
  height: calc(100% - 2 * var(--pop-up-padding));
  min-height: 450px;
  margin: var(--pop-up-padding);
}

#project-creation-popover #popup-box {
  height: auto;
  bottom: auto;
  background-color: var(--field-element-grey)
}

#project-creation-popover .project-creation-popover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#project-creation-popover .bp3-spinner {
  margin-top: 3em;
}

#project-creation-popover .element-description {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* ================================== */
/* ======= project team page ======== */
/* ================================== */

#project-team-page {

}

#create-custom-field-popover .create-field-form,
#project-team-page .add-member-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#project-team-page .add-member-form {
  max-width: 430px;
}

#project-team-page .add-member-form .role-select {
  margin-bottom: var(--standard-margin);
}

#project-team-page .header-section {
  margin: 2em 0 2em 0;
}

#project-team-page label.bp3-label {
    margin-bottom: 0.5em;
    text-align: left;
    font-weight: bold;
}

#project-team-page .bp3-input-group {
    margin-bottom: 0.33em;
}

#project-team-page .bp3-form-group:last-of-type {
    margin-bottom: 2em;
}

#project-team-page textarea {
    width: 100%;
    min-height: 150px;
}

#project-team-page .last {
    margin-bottom: 3em;
}

#project-team-page .bp3-form-content {
  text-align: left;
  width: 100%;
}

#project-team-page .bp3-button-group {
  margin-bottom: 10px;
}

#project-team-page .form-container {
  width: 80%;
  max-width: 1180px;

}

#project-team-page .project-form {
  width: 100%;
  padding: var(--standard-padding);
  margin: 0 auto;
}

#project-team-page .bp3-popover-target {
  width: 100%;
}

.bp3-popover-content a {
  min-height: 30px;
}

#project-team-page .page-content-section .bp3-button {
  width: 100%;
  max-width: 430px;
}

#project-team-page .member-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-team-page .member-list-container button {
  max-width: 400px;
  margin: auto;
}

#project-team-page .member-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin-top: 1em;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: var(--footer-height);
}

#project-team-page .member-list-container .col-md-12,
#project-team-page .member-list-container .col-lg-12,
#project-team-page .member-list-container .col-xl-6 {
  margin-bottom: 2em;
}

#project-team-page .member-list-container .bp3-callout {
  text-align: left;
  height: 100%;
}


#project-team-page .member-list {
  width: 100%;
}

#project-team-page .single-contact-tile-container {
  margin-bottom: var(--standard-margin);
}

/* ================================== */
/* ====== contact tile element ====== */
/* ================================== */

#contact-tile {
  text-align: left;
  display: flex;
  padding: 10px;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  margin: 0px;
}


#contact-tile .bp3-heading {
  margin-left: var(--standard-margin);
}

#contact-tile .col-3 {
  padding: 0;
}

#contact-tile h4 {
  margin-bottom: 0.5em;
}

#contact-tile .img-thumbnail {
  padding: var(--avatar-padding);
  background-color: #aaa;
  border: 1px solid #ddd;
  border-radius: 50%;
}

#contact-tile .avatar {
  height: 100%;
  width: 100%;
  max-height: 97px;
  max-width: 97px;
}

#contact-tile .avatar-container {
  width: 100%;
  padding-top: min(100%, 120px);
  position: relative;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

#contact-tile .avatar-container img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#contact-tile button {
  margin-top: 1em;
}

#contact-tile.member-confirmed {
  background-color: var(--field-element-light-green);
}

#contact-tile.member-not-confirmed {
background-color: var(--field-element-grey);
}

#contact-tile .view-accreditations {
  margin-left: auto;
  text-decoration: underline;
}

/* ================================== */
/* ====== field element common ====== */
/* ================================== */

#file-upload-element,
#drop-down-element,
#calendar-picker-element,
#long-text-element,
#git-text-element {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: var(--standard-border-radius);
}

/* The animation code */
@keyframes changeMaxHeightExpand {
  from {max-height: 441px;}
  to {max-height: 1000px;}
}

@keyframes changeMaxHeightContract {
  from {max-height: 1000px;}
  to {max-height: 441px;}
}

#file-upload-element {
  overflow-y: hidden;
}

#file-upload-element .file-upload-element-container,
#drop-down-element .drop-down-element-container,
#calendar-picker-element .calendar-picker-element-container,
#long-text-element .long-text-element-container,
#git-text-element .git-text-element-container {
  margin: auto;
  width: 100%;
  background-color: var(--field-element-red);
  border-radius: var(--standard-border-radius);
  padding: var(--standard-padding);
  position: relative;
  text-align: left;
}

#file-upload-element .element-title,
#drop-down-element .element-title,
#calendar-picker-element .element-title,
#long-text-element .element-title,
#git-text-element .element-title,
#popup-box .element-title,
#requests-tab-container .element-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0.7em;
}

#file-upload-element .element-description,
#drop-down-element .element-description,
#calendar-picker-element .element-description,
#long-text-element .element-description,
#git-text-element .element-description,
#popup-box .element-description {
  width: 100%;
  margin-bottom: 1em;
}

#file-upload-element .row,
#drop-down-element .row,
#calendar-picker-element .row,
#long-text-element .row,
#git-text-element .row {
  width: 100%;
  align-items: center;
  display:flex;
  margin: 0;
}

#file-upload-element .container,
#drop-down-element .container,
#calendar-picker-element .container,
#long-text-element .container,
#git-text-element .container {
  padding: 0;
}

#drop-down-element .row,
#calendar-picker-element .row,
#long-text-element .row,
#git-text-element .row {
  margin-bottom: 0.3em;
}


#file-upload-element .col,
#file-upload-element .col-3,
#file-upload-element .col-4,
#file-upload-element .col-5,
#drop-down-element .col,
#drop-down-element .col-3,
#drop-down-element .col-4,
#drop-down-element .col-5,
#calendar-picker-element .col,
#calendar-picker-element .col-3,
#calendar-picker-element .col-4,
#calendar-picker-element .col-5,
#long-text-element .col,
#long-text-element .col-3,
#long-text-element .col-4,
#long-text-element .col-5 {
  padding: 0;
}


/* ================================== */
/* ======= file upload element ====== */
/* ================================== */

#file-upload-element .has-upload {
  background-color: var(--field-element-yellow);
}

#file-upload-element .has-anchor {
  background-color: var(--field-element-green);
}

#file-upload-element .bp3-file-input {
  margin-bottom: 0.5em;
}

#file-upload-element .element-file-uploader {
}

#file-upload-element .element-file-uploader .detail-view-open-button {
  margin-left: auto;
  padding-right: 0.67em;
}

#file-upload-element .button {
  width: 150px;
  margin-right: 1em;
}

#file-upload-element .row.signatures {
  padding-left: 0;
}

#file-upload-element .file-status {
}

#current-version-container,
#signature-container,
#upload-tab-container,
#upload-history-container {
  background-color: #EEE;
  width: 100%;
  border-radius: var(--standard-border-radius);
  padding: var(--standard-padding);
  position: relative;
  text-align: left;
}

#current-version-container .details-table {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(200px, 4fr) ;
  grid-gap: 0.5rem;
}

#upload-history-container .details-table {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 0.5rem;
}

#signature-container .details-table {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0.5rem;
}

#current-version-container .details-table h4,
#upload-history-container .details-table h4,
#signature-container .details-table h4 {
  margin: 0;
}

#current-version-container .download-box-cell {
  position: absolute;
  top: var(--standard-margin);
  right: var(--standard-margin);
}


#file-upload-element .field-names {
  font-weight: bold;
  padding-left: 0px;
}

@media only screen and (min-width: 992px) {
  #file-upload-element .field-names {
    padding-left: var(--standard-padding);
  }
}

#file-upload-element .signature-container {
  padding: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}

#file-upload-element .section-margin {
  margin-top: 1em;
}

#file-upload-element .bp3-label {
  margin-bottom: 0;
}

#file-upload-element .button-row {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
}

#file-upload-element .button-row button {
  margin-top: 1em;
}


/* ================================== */
/* ======= drop down element ======== */
/* ================================== */

#drop-down-element .drop-down-element-container {
  background-color: var(--field-element-grey);
}

#drop-down-element .bp3-button  {
  width: 250px;
  margin-bottom: 0.5em;
}

#drop-down-element select  {
  width: 250px;
  margin-bottom: 0.5em;
}

#drop-down-element label {
  padding-left: 0.3em;
}

#drop-down-element textarea {
  width: 100%;
}

/* ================================== */
/* ==== uploader popover element ==== */
/* ================================== */

#uploader-popover {
  height: 100%;
  width: 100%;
}

#uploader-popover .uploader-popover-container,
#uploader-popover .file-details-popover-container {
  height: calc(100% - 2 * var(--pop-up-padding));
  margin: var(--pop-up-padding);
}

#uploader-popover .bp3-progress-bar {
  margin-bottom: 1em;
}

#uploader-popover #popup-box {
  height: auto;
  bottom: auto;
  background-color: var(--field-element-grey)
}

#uploader-popover #popup-box.error {
}

#uploader-popover button {
  margin-top: 1em;
  width: 250px;
}

/* ===================================== */
/* === signer select popover element === */
/* ===================================== */

#pick-signer-popover {
  height: 100%;
  width: 100%;
}

#pick-signer-popover .pick-signer-popover-container {
  height: calc(100% - 2 * var(--pop-up-padding));
  margin: var(--pop-up-padding);
}

#pick-signer-popover .user-tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem 1.5rem;
}

#pick-signer-popover .bp3-progress-bar {
  margin-bottom: 1em;
}

#pick-signer-popover #popup-box {
  height: auto;
  bottom: auto;
  background-color: var(--field-element-grey)
}

#pick-signer-popover #popup-box.error {
}

#pick-signer-popover button {
  margin-top: 1em;
  width: 250px;
}

#pick-signer-popover .search-bar-container {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

#pick-signer-popover .member-tile {
  padding: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.3rem 1rem;
}

#pick-signer-popover .member-tile h4 {
  margin: 0;
}

#pick-signer-popover .selected {
  background-color: var(--tile-selected-green);
}

#pick-signer-popover .cannot-sign {
  background-color: var(--tile-selected-red);
}

#pick-signer-popover .member-tile-tickbox {
  position: absolute;
  right: 1em;
  bottom: calc(50% - 1em);
}

#pick-signer-popover button {
  margin-right: 1em;
}

#pick-signer-popover .buttons-container {
  margin-top: var(--standard-margin);
}

/* =========================================== */
/* === create custom field popover element === */
/* =========================================== */

#create-custom-field-popover{
  height: 100%;
  width: 100%;
}

#create-custom-field-popover .create-custom-field-popover-container {
  height: calc(100% - 2 * var(--pop-up-padding));
  margin: var(--pop-up-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-custom-field-popover .form-container {
  width: 100%;
  margin: auto;
}

#create-custom-field-popover #popup-box,
#popup-box {
  height: auto;
  bottom: auto;
  background-color: var(--field-element-grey)
}

#create-custom-field-popover .no-options {
  color: red;
  font-style: italic;
}

#create-custom-field-popover button {
  margin-bottom: 0.8em;
}

#create-custom-field-popover .drop-down-container,
#create-custom-field-popover .radio-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--standard-margin);
}

#create-custom-field-popover .no-options {
  margin-bottom: var(--standard-margin);
}

#create-custom-field-popover input[type=radio] {
  margin: 0 var(--standard-margin);
}

#create-custom-field-popover input[type=checkbox] {
  margin-right: var(--standard-margin);
}

/* =========================================== */
/* === delete project popover element === */
/* =========================================== */

#delete-project-popover {
  height: 100%;
  width: 100%;
}

#delete-project-popover #popup-box {
  width: 50%;
}

#delete-project-popover .delete-project-popover-container {
  height: calc(100% - 2 * var(--pop-up-padding));
  margin: var(--pop-up-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#delete-project-popover #popup-box {
  height: auto;
  bottom: auto;
  background-color: var(--field-element-grey)
}

#delete-project-popover button {
  max-width: 450px;
  margin: 0.8em auto 0 auto;
  text-align: center;
}


/* ==================================== */
/* === file-details popover element === */
/* ==================================== */

#file-details-popover {
  height: 100%;
  width: 100%;
}

#file-details-popover .file-details-popover-container {
  height: calc(100% - 2 * var(--pop-up-padding));
  margin: var(--pop-up-padding);
}

#file-details-popover #popup-box {
  height: auto;
  bottom: auto;
  background-color: var(--field-element-grey)
}

#file-details-popover button {
  margin-bottom: 0.8em;
}

#file-details-popover .col {
  display: flex;
  align-items: center;
  padding: 0;
}

#file-details-popover .file-details {
  width: 100%;
}

#file-details-popover .signature-details {
  margin-top: 2em;
  width: 100%;
}

#file-details-popover .field-names,
#file-details-popover .field-values  {
  padding: 0;
}


#current-version-container .no-foundations-id {
  width: auto;
  margin-top: 0.5em;
}

#file-details-popover svg {
  margin-bottom: 10px;
}

/* ================================== */
/* ====== date picker element ======= */
/* ================================== */

#calendar-picker-element .col {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#calendar-picker-element .calendar-picker-element-container {
  background-color: var(--field-element-grey);
}

#calendar-picker-element .bp3-datepicker {
  padding: 0.5em 1em;
  border-radius: var(--standard-border-radius);
  margin-bottom: 1em;
}

#calendar-picker-element .entry-button {
  width: 250px;
}

/* ================================== */
/* ======= long text element ======== */
/* ================================== */


#long-text-element .col {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#long-text-element .long-text-element-container {
  background-color: var(--field-element-grey);
}

#long-text-element textarea {
  width: 100%;
  min-height: 8em;
}

/* ================================== */
/* ======= git text element ======== */
/* ================================== */


#git-text-element .git-text-element-container {
  display: flex;
  flex-direction: column;
  background-color: var(--field-element-grey);
}

#git-text-element .switch-state-buttons {
  position: absolute;
  right: var(--standard-padding);
  height: 50px;
  width: 50px;
}

#git-text-element .switch-state-buttons button {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}


#git-text-element .switch-state-buttons svg {
  max-width: 100%;
  max-height: 100%;
}

#git-text-element .save-button {
  max-width: 400px;
  margin-top: var(--standard-margin);
}

#git-text-element .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#git-text-element .tox-tinymce {
  width: 100%;
}

#git-text-element .version-select {
  margin-bottom: var(--standard-margin);
}

#git-text-element .comparators {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#git-text-element .comparer {
  width: 50%;
}

#git-text-element .error-text {
  padding-top: 3em;
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}

#git-text-element .error-text input[type=submit] {
  max-width: 250px;
  width: 100%;
}

mark.red {
    color: red;
    background: none;
}

mark.green {
    color: lawngreen;
    background: none;
}

mark.grey {
    color: gray;
    background: none;
}


.page-title {
  margin-bottom: 2em;
}

.required-field {
  width: 100%;
}

/* adds border between projects in sidebar */
.list-item-container:after {
    content:'';
    width:95%;
    height:2px;
    background: rgba(138, 155, 168, 0.3);
    position:absolute;
    bottom: 0;
  }

/* adds background color to list */
.list-item-container {
    display: flex;
    align-items: center;
    background: none;
}

.list-item-container.bp3-callout svg {
    width: 50px;
}

.list-item-container.selected,
.list-item-container:hover {
    background-color: rgba(138, 155, 168, 0.15)
}


/* ================================== */
/* ========== profile page ========== */
/* ================================== */

#profile-page {

}

#profile-page label {
  text-align: left;
}

#profile-page .page-content,
#profile-page .row {
  width: 100%;
}

#profile-page .img-thumbnail {
  padding: var(--avatar-padding);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
}

#profile-page .avatar {
  height: var(--profile-avatar-height);
  width: var(--profile-avatar-height);
}

#profile-page h6 {
  margin: 10px 0;
  font-size: 12px;
}

#profile-page .button-row button {
  margin-right: 1em;
  margin-top: 1.5em;
  width: 200px;
}

#profile-page .page-content {
  max-width: 1200px;
}

#profile-page .row {
  margin: 0;
}

#profile-page .col-md-12,
#profile-page .col-lg-3,
#profile-page .col-lg-9,  {
  margin-bottom: var(--standard-margin) !important;
}

#profile-page .tab-pane {
  margin-top: 30px;
}


#password-change-section {
  width: 100%;
  max-width: 430px;
  margin: 2em auto;
}

#password-change-section button {
  width: 100%;
  max-width: 430px;
}


/* ============================================ */
/* ====== profile-tab-container element ======= */
/* ============================================ */

#profile-tab-container {
}

#profile-tab-container .avatar-container {
  height: 100%;
  width: 100%;
}


#profile-tab-container .avatar-greyer {
  position: absolute;
  height: calc(var(--profile-avatar-height) - (var(--avatar-padding) * 2 + 2));
  width: calc(var(--profile-avatar-height) - (var(--avatar-padding) * 2 + 2));
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  top: calc(var(--avatar-padding) + 1);
  left: calc((100% - var(--profile-avatar-height) + (var(--avatar-padding) * 2 + 2)) / 2);
  margin: auto;
}

#profile-tab-container .avatar-spinner {
  position: absolute;
  left: calc((100% - 75px) / 2);
  top: calc(75px / 2);
}

#profile-tab-container .foundations-info {
  margin: 1em 0 2em 0;
  width: 100%;
}

#profile-tab-container .bp3-form-group {
  padding: 0;
}

@media only screen and (min-width: 992px) {

  #profile-tab-container .foundations-info {
    margin: 0 auto 2em auto;
    width: calc(100% - (2 * var(--standard-margin)));
  }

  #profile-tab-container .bp3-form-group {
    padding: 0 var(--standard-padding);
  }
}


/* ============================================ */
/* ====== history-tab-container element ======= */
/* ============================================ */

#history-tab-container .col-md-12,
#history-tab-container .col-lg-6,
#history-tab-container .col-xl-4 {
  margin-bottom: 1em;
}

#history-tab-container .bp3-callout {
  text-align: left;
  height: 100%;
}


/* ============================================ */
/* ====== requests-tab-container element ====== */
/* ============================================ */

#requests-tab-container {
  width: 100%;
}

#requests-tab-container .requests-section {
  text-align: left;
}

#requests-tab-container .signature-request-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}

#requests-tab-container .signature-tile-content-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, auto));
  grid-gap: 0.5rem;
}

#requests-tab-container .signature-tile-content-container h4 {
  margin: 0;
}

/* ================================================ */
/* ====== project-invitation-request element ====== */
/* ================================================ */

#project-invitation-request,
#signature-request {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: var(--field-element-blue);
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}


#project-invitation-request h4,
#signature-request h4 {
  margin-bottom: 0.5em;
}

#project-invitation-request .button-row,
#signature-request .button-row {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  width: 100%;
}

#project-invitation-request button,
#signature-request button {
  margin: 0 !important;
  width: calc((100% - var(--standard-margin)) / 2) !important;
}

#project-invitation-request button:last-of-type,
#signature-request button:last-of-type {
  margin-left: var(--standard-margin) !important;
}

/* ================================== */
/* ========= training page ========== */
/* ================================== */

#training-page {

}

#training-page .form {
  min-width: 400px;
  width: 80%;
}

#training-page .provider-details-section h2 {
  margin-bottom: 20px;
}

#training-page .course-details {
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
    text-align: left;
}

#training-page .course-name {
  padding-left: 10%;
}

#training-page .course-tick-box {
  padding-left: 35px;
}

#training-page .course-table-heading {
  font-weight: bold;
}

#training-page .provider-course-section {
  flex-direction: row;
  display: flex;
  text-align: left;
}

/* ================================== */
/* ======== project selector ======== */
/* ================================== */

.project-selector {
  color: white;
}

.project-selector button {
  height: 42px;
  border-radius: calc(var(--standard-border-radius) / 2);
  padding-left: var(--standard-padding);
}

.project-selector button span {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 16px;
}

.project-selector button span svg {
  width: 34px;
  height: 34px;
  margin-right: var(--standard-margin);
}

/* ================================== */
/* ========= generic page ========== */
/* ================================== */

#generic-page .training-page {

}

#generic-page .provider-details-section h2 {
  margin-bottom: 20px;
}

#generic-page .course-details {
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
    text-align: left;
}

#generic-page .course-name {
  padding-left: 10%;
}

#generic-page .course-tick-box {
  margin-left: 10px;
}

#generic-page .course-table-heading {
  font-weight: bold;
}

#generic-page .provider-course-section {
  flex-direction: row;
  display: flex;
  text-align: left;
}

/* ================================== */
/* ============= footer ============= */
/* ================================== */

#footer-bar {
  background-color: #000;
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

#footer-bar .footer-content {
  height: 100%;
}

#footer-bar .footer-text {
  color: #888;
  height: 1.3em;
  margin: auto;
}

#footer-bar .footer-text a {
  color: #888;
  height: 1.3em;
  margin: auto;
}


/* ================================== */
/* ======== general styling ========= */
/* ================================== */

.no-project-selected-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.no-project-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.no-project-selected svg {
}

.no-project-selected p,
.no-requests p,
.no-projects p,
.loading-spinner p {
  margin-top: 1.5em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.project-loading-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.project-loading-container .section-spinner {
  margin-bottom: 2em;
}


/* ================================== */
/* ======== selector popover ======== */
/* ================================== */

.project-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-greyer {
  background-color: rgba(0,0,0, 0.5);
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#popup-box {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  border-radius: var(--standard-border-radius);
  background: white;
}

#popup-box.fit-content {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  border-radius: var(--standard-border-radius);
  background: white;
  margin: auto;
}

#popOver, #popup-greyer, #popover {
  width: 100%;
  display: flex;
}

#popover {
  padding: var(--standard-padding);
}

#popup-box .projects-pop-up-header {
  display: flex;
  text-align: center;
  width: 100%;
  height: var(--popup-header-height);
  background-color: #ccc;
  border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
  align-items: center;
  justify-content: center;
}

#popup-box .flex-dir-row {
  flex-direction: row;
}

#popup-box .projects-pop-up-header h2 {
  color: var(--heading-text-color);
  font-weight: 600;
}

#popup-box .row {
  margin: 0;
}

#popup-box .bp3-button-text {
  width: 100%
}

#popup-box .site-select-tile {
  width: 100%;
  height: auto;
}

#popup-box .project-scroll-box {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: calc(100% - var(--popup-header-height) - var(--popup-footer-height));
  overflow-y: scroll;
}

#popup-box .project-list-container {
  display: grid;
  margin: auto var(--standard-margin);
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}


@media (min-width: 800px) {
  #popup-box .project-list-container {
    display: grid;
    margin: auto var(--standard-margin);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
}


#popup-box .project-scroll-box button {
  height: auto;
  margin-bottom: 5px;
  text-align: left;
}

#popup-box .project-scroll-box .col-xs-12,
#popup-box .project-scroll-box .col-sm-12,
#popup-box .project-scroll-box .col-md-12,
#popup-box .project-scroll-box .col-lg-4,
#popup-box .project-scroll-box .col-xl-4 {
  height: auto;
}

#popup-box .project-scroll-box .loading-spinner {
}


#popup-box .project-scroll-box .no-projects {
  width: auto;
  justify-content: center;
  text-align: center;
}

#popup-box .project-scroll-box .projects-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup-box .bp3-callout {
}

#popup-box .bp3-callout h4 {
  margin-block-end: 0;
  font-size: 16px;
}

#popup-box .projects-pop-up-footer {
  text-align: center;
  width: 100%;
  height: var(--popup-footer-height);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  border-radius: 0 0 var(--standard-border-radius) var(--standard-border-radius);
}

#popup-box .projects-pop-up-footer Button {
  margin: var(--pop-up-padding) 0;
}

.project-select-tile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 100%;
  height: 150px;
  border: 2px solid rgba(138, 155, 168, 0.5);
}

.project-select-tile .bp3-callout svg {
  width: 50px;
  margin-right: 20px;
}

.project-select-tile.selected,
.project-select-tile:hover {
  background-color: rgba(138, 155, 168, 0.15)
}



/* ================================== */
/* =========== test page ============ */
/* ================================== */

#test-page {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 25px,
    #465298 25px,
    #465298 50px
  );
  width: 100%;
  height: 100%;
}

#test-page .center-container {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* ============================================ */
/* ===== no-foundations-id-banner element ===== */
/* ============================================ */

#no-foundations-id-banner {
  background-color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  margin: 0;
  height: 3em;
}

#no-foundations-id-banner p {
  margin: auto;
  color: white;
}

#no-foundations-id-banner p:hover {
  text-decoration: underline;
}

/* ==================================== */
/* ===== foundations-page element ===== */
/* ==================================== */

#foundations-page {

}

#foundations-page .foundations-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--standard-padding);
  max-width: var(--standard-max-content-width);
}

#foundations-page .foundations-icon {
  text-align: center;
}

#foundations-page .foundations-icon-text {
  text-align: center;
}

#foundations-page .foundations-download-icons {
  text-align: center;
  width: 100%;
  margin-top: 4em;
}

#foundations-page .foundations-download-icons img {
  width: 100%;
}

#foundations-page .foundations-download-text {
  text-align: center;
  width: 100%;
}

/* ==================================== */
/* === user details popover element === */
/* ==================================== */

#user-details-popover {

}

#user-details-popover #popup-box {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-popover);
  padding: 20px;
  overflow-y: hidden;
}

#popup-box .popup-box-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--standard-padding) 0;
}

#popup-box .popup-box-header input[type=submit]{
  max-width: 30%;
}

#popup-box .close-button {
  margin-left: auto;
}

#user-details-popover .accreditation-list-container {
  display: flex;
  overflow-y: scroll;
}

#user-details-popover .accreditation-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--standard-padding);
}

#popup-box .error-box {
  max-width: 400px;
  margin: 2em auto;
}

/* ======================================= */
/* === user accreditation tile element === */
/* ======================================= */

#user-accreditation-tile {
  border: 1px black solid;
  border-radius: var(--standard-border-radius);
  padding: var(--standard-padding);
}

#user-accreditation-tile h3 {
  margin-bottom: var(--standard-margin);
}


/* ================================= */
/* === project type tile element === */
/* ================================= */

.project-selector-container {
  display: grid;
  margin: var(--standard-margin) auto;
  width: 80%;
  grid-template-columns: var(--project-selector-grid-columns);
  grid-column-gap: calc(var(--standard-margin) * 2);
  grid-row-gap: calc(var(--standard-margin) * 2);
  min-height: 400px;
  text-align: center;
}

#project-type-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--prind-palette-color-2);
  border-radius: var(--standard-border-radius);
  border: var(--prind-palette-color-4) 2px solid;
  padding: calc(var(--standard-padding) * 2);
  min-height: 400px;
}

#project-type-tile .icon {
  height: 150px;
  width: 150px;
}

#project-type-tile h2 {
  margin-bottom: var(--standard-margin);
}


/* =================================== */
/* ======= Sign In and Up Page ======= */
/* =================================== */

#sign-in-up-page {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 0px var(--standard-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

/* =================================== */
/* ======== Sign In and Up Box ======= */
/* =================================== */

#component-sign-in-up-box {
  min-width: 220px;
  max-width: 320px;
  max-height: 90%;
  width: 90%;
  background-color: #F8F8F8;
  border-radius: var(--standard-border-radius);
  padding: calc(var(--standard-padding )* 1.5);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
  overflow: auto;
  margin: auto;
}

@media (min-width: 800px) {
  #component-sign-in-up-box {
    margin: 0 0 0 5%;
  }
}

#create-custom-field-popover input[type=text],
#component-sign-in-up-box input[type=text],
#component-sign-in-up-box input[type=password]  {
  width: 100%;
  appearance: none;
  background: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  color: #182026;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 10px;
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  vertical-align: middle;
  margin-bottom: calc(var(--standard-margin) / 2);
}

#component-sign-in-up-box .component-sign-in-up-box-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}

#component-sign-in-up-box .logo-container {
  padding: 0 10%;
  margin-bottom: 20px;
}

#component-sign-in-up-box .logo-container img {
  width: 100%;
}

#component-sign-in-up-box .welcome-text-heading {
  width: 100%;
  font-size: 22px;
  font-weight: var(--font-raleway-weight-semibold);
  margin-bottom: 10px;
}

#component-sign-in-up-box .welcome-text-body {
  width: 100%;
  font-size: 16px;
  font-weight: var(--font-raleway-weight-regular);
  margin-bottom: 30px;
}

#component-sign-in-up-box .password-request-success {
  width: 100%;
  text-align: center;
}

#component-sign-in-up-box .form {
  width: 100%;
  padding: 0 5%;
}

#component-sign-in-up-box .form-row {
}

#component-sign-in-up-box .form-row p {
  padding: 0px 5px;
}

#component-sign-in-up-box .alert p {
  padding: 0px;
  margin: 0px;
}

#component-sign-in-up-box .sign-in-form {
}

#component-sign-in-up-box .sign-up-form {
}

#component-sign-in-up-box .forgot-your-password-text {
  font-size: 14px;
  font-weight: var(--font-raleway-weight-bold);
  text-align: left;
}

#component-sign-in-up-box .forgot-your-password-text:hover {
  text-decoration: underline;
  cursor:pointer;
}

#component-sign-in-up-box .sign-up-in-text {
  font-size: 14px;
  font-weight: var(--font-raleway-weight-bold);
  text-align: center;
}

#component-sign-in-up-box .sign-up-in-text:hover {
  text-decoration: underline;
  cursor:pointer;
}

#component-sign-in-up-box .form .btn-primary {
  width: 100%;
  background-color: #CCCCCC;
  color: white;
  font-size: 20px;
  font-weight: var(--font-raleway-weight-medium);
  margin-bottom: 20px;
  background: transparent linear-gradient(90deg, #194174 0%, #6394CC 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

/* ============================================== */
/* ========= Git Commit Message Popover ========= */
/* ============================================== */

#popover .popover-container {
  width: auto;
  margin: var(--standard-margin);
}

#git-commit input[type=text]  {
  width: 100%;
  appearance: none;
  background: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  color: #182026;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 10px;
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  vertical-align: middle;
  margin-bottom: calc(var(--standard-margin) / 2);
}

/* ==================================== */
/* ========= Pure CSS Spinner ========= */
/* ==================================== */

.lds-ring {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--prind-palette-color-3);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--prind-palette-color-3) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Toastify__toast {
  max-width: 80vw;
  margin: auto;
}

.Toastify__progress-bar--dark {
  background-image: none !important;
  background-color: #2B60DE !important;
}

.Toastify__progress-bar {
  background-image: none !important;
  background-color: #2B60DE !important;
}
