body {
	height: 100%;
	background: #534161;
}

a { color: #53346d; }
a:hover { color: #53346d; text-decoration: underline; }

.close-button { color: #c4bacd; }

.tabs {
	background: none;
	border: none;
}
.tabs a:focus { outline: none; }
.tabs-panel.noPadding { padding: 0; }
.tabs-content { border: none; }
table tbody tr:nth-child(even) { background: #f8f2ff; }


figure.donut-chart  {}
.donut-chart .chart-text {
	/*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
	fill: #fff;
	-moz-transform: translateY(0.25em);
	-ms-transform: translateY(0.25em);
	-webkit-transform: translateY(0.25em);
	transform: translateY(0.25em);
}
.donut-chart .chart-number {
	font-size: 0.5em;
	line-height: 1;
	text-anchor: middle;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.35em);
}
.donut-chart .chart-label {
	font-size: 0.2em;
	text-transform: uppercase;
	text-anchor: middle;
	-moz-transform: translateY(0.7em);
	-ms-transform: translateY(0.7em);
	-webkit-transform: translateY(0.7em);
	transform: translateY(0.7em);
}
.donut-chart .donut-hole {
	border: solid 0.5rem #3a2c45;
}
.donut-chart .figure-content {
	flex: 1;
	padding-left: 15px;
	padding-right: 15px;
	align-self: center;
}
.donut-chart .figure-content svg {
	height: auto;
	background: #3a2c45;
	border-radius: 100%;
	padding: 0.5rem;
}
.donut-chart .donut-hole,
.donut-chart .donut-ring,
.donut-chart .donut-segment {
	cx: 21;
	cy: 21;
	r: 15.9155;
}
.donut-chart .donut-ring,
.donut-chart .donut-segment {
	stroke-width: 8;
}
.donut-chart .donut-hole { fill: #40324d; }
.donut-chart .donut-ring { stroke: #5d486e; }
.donut-chart .donut-segment.color1 { stroke: #fff; }
.donut-chart .donut-segment.color2 { stroke: #d9c4db; }
.donut-chart .donut-segment.color3 { stroke: #bd9dc0; }



header {
	background: #fff;
}
header .grid-margin-x {
	padding-left: 2rem;
	padding-right: 2rem;
}
header .logo {
	max-width: 128px;
	margin: 16px 0;
}
header nav .menu {
	margin-top: 20px;
}
header nav .menu a {
	color: #ab96be;
	font-weight: bold;
	text-transform: uppercase;
}
header nav .menu li.active a,
header nav .menu li a:hover {
	background: none;
	color: #53346d;
}
header .search {
	padding-left: 4rem;
	padding-right: 4rem;
	background: #c4bacd;
}
header .search form {
	position: relative;
	margin: 0;
}
header .search i {
	position: absolute;
	top: 14px;
	transition: color 0.2s ease-out;
	color: #9e8baf;
	font-size: 24px;
}
header .search:hover i { color: #53346d; }
header .search input, header .search input:focus {
	margin: 0;
	height: 54px;
	padding-left: 40px;
	background: none;
	border: none;
	line-height: 54px;
	box-shadow: none;
	color: #53346d;
}
header .search input::placeholder {
	color: #9e8baf;
	font-style: italic
}
header .search input::-ms-input-placeholder {
	color: #9e8baf;
	font-style: italic
}



section.page { padding: 2rem; }
section.page .panel {
	padding: 2rem;
	background: #dfd6e8;
	color: #595959;
}
section.page .panel.dark {
	padding: 2rem 0 0;
	background: none;
	color: #fff;
}
section.page .panel h1, #authDetail h2 {
	color: #53346d;
	font-size: 28px;
}
section.page .panel .tabs a {
	margin: 0 2px 0 0;
	background: #ebe4f4;
	color: #595959;
}
section.page .panel .tabs a:hover { background: #f8f3fd; }
section.page .panel .tabs a[aria-selected='true'] {
	background: #53346d;
	color: #fff;
}
section.page .status {
	display: inline-block;
	padding: 6px 8px;
	border-radius: 3px;
}
section.page .status i:not(:first-child) { margin-left: 4px; }
section.page .status i.green { color: #7bcd37; }
section.page .status i.yellow { color: #ffbe21; }
section.page .status i.red { color: #dd5050; }
section.page .status.green { background: #d5f0c2; }
section.page .status.yellow { background: #feefcc; }
section.page .status.red { background: #f3d4d4; }
section.page table { margin: 0; }
section.page table tr { border-top: 2px solid #dfd6e8; }
section.page table tr:hover {
	cursor: pointer;
	background: #caafe0;
	color: #fff;
}
section.page table tr.selected {
	position: relative;
	background: #9981ad;
	color: #fff;
}
section.page table tr.selected:after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 1px;
	border: solid 1.7rem transparent;
	border-left-color: #9981ad;
}

section.page .authorityIndex .tabs-panel { padding: 0; }
section.page .authorityIndex table td:first-child { padding-left: 1rem; }
section.page .authorityIndex table td:last-child { text-align: right; }

section.page .authorityGraphs.dark .tabs a {
	background: #5d486e;
	color: #fff;
}
section.page .authorityGraphs.dark .tabs a:hover { background: #644f75; }
section.page .authorityGraphs.dark .tabs a[aria-selected='true'] {  background: #40324d; }
section.page .authorityGraphs.dark .tabs-panel {
	background: #40324d;
	color: #fff;
}
section.page .authorityGraphs.dark .progress {
	position: relative;
	height: 3rem;
	background: #40324d;
	border: solid 0.5rem #3a2c45;
}
section.page .authorityGraphs.dark .progress-meter { background: #fff; }
section.page .authorityGraphs.dark .progress-meter-text { color: #b09bc4; }
section.page .authorityGraphs.dark .payout .progress { background: #fff; }
section.page .authorityGraphs.dark .payout .progress-meter {
	position: absolute;
	right: 0;
	background: #5d486e;
}
section.page .authorityGraphs.dark .roundProg { text-align: center; }
section.page .authorityGraphs.dark .roundProg h6 { margin-bottom: 0; }
section.page .authorityGraphs.dark .roundProg p.small {
	color: #b09bc4;
	font-size: 0.8rem;
	line-height: 1.4;
}
section.page .authorityGraphs.dark .roundProg p.small .key {
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	margin-right: 0.3rem;
	border-radius: 100%;
}
section.page .authorityGraphs.dark .roundProg p.small .key.color1 { background: #fff; }
section.page .authorityGraphs.dark .roundProg p.small .key.color2 { background: #d9c4db; }
section.page .authorityGraphs.dark .roundProg p.small .key.color3 { background: #bd9dc0; }


section.page .authorityIndex { position: relative; }
#authDetail {
	position: absolute;
	left: 100%;
	top: 200px;
	z-index: 3;
	width: 100%;
	padding: 3rem;
	background: rgba(248, 242, 255, 0.95);
	border: solid 3px rgba(83,65,97,0.3);
	border-left: none;
}
#authDetail .profileName { margin-bottom: 2rem; }
#authDetail .profileName h2, #authDetail .profileName p { margin: 0; }
#authDetail .social.menu li a {
	padding: 0 1rem 0 0;
	font-size: 2.5rem;
}
#authDetail .social.menu li.fb a { color: #3b5998; }
#authDetail .social.menu li.tw a { color: #49a1dc; }
#authDetail .social.menu li.gp a { color: #d5440d; }
#authDetail .social.menu li.in a { color: #2a72b1; }
#authDetail .chainDetails { margin: 0 0 2rem; }
#authDetail .status {
	display: block;
	padding: 2rem;
	background: rgba(255,255,255,0.73);
	border-radius: 1rem;
}

